{% load static %}
<!doctype html>
<html lang="en">

<head>
  <title>Actualizar Libro</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
  
</head>

<body>

<div class="contenedor">
    <form method="POST"  action="/Actualizar_Libro/" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden"  name="idA" value="{{libro.id}}">

        
        <div class=" mb-3">
          <label for="exampleInputEmail1" class="form-label text-white fs-2">Libro</label>
          <input type="txt" class="form-control" id="exampleInputEmail1" name="libroA" placeholder="{{libro.nombre}}"  Required>
        </div>
        <div class="mb-3">
            <label for="floatingTextarea" class="text-white fs-2">Descripción</label>
            <textarea class="form-control" rows="4" cols="50"  name="descripciónA" id="floatingTextarea" Required placeholder="{{libro.descripcion}}" ></textarea>
          </div>
          
        <div class="  mb-3">
          <label for="exampleInputEmail1" class="form-label text-white fs-2">Editorial</label>
          <input type="txt" class="form-control" id="exampleInputEmail1" name="editorialA" placeholder="{{libro.editorial}}" Required>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label text-white fs-2">paginas</label>
          <input type="number" class="form-control" id="exampleInputEmail1" name="paginasA" placeholder="{{libro.paginas}}"  Required>
        </div>
        
        <div class="  mb-3">
          <label for="exampleInputEmail1" class="form-label text-white fs-2"> Año de Publicacion</label>
          <input type="number" class="form-control" id="exampleInputEmail1" name="anio_publiA" placeholder="{{libro.anio_publicacion}}" Required>
        </div>
        
       

        <button type="submit" class="btn btn-primary " style="margin-left:185px">Actualizar</button>
      </form>
    </div>
 
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>