{% load static %}
<!doctype html>
<html lang="en">

<head>
  <title>Login</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
  
</head>

<body>

<div class="contenedor">
     {{error}}
  <form class="" method="Post" autocomplete="off" action="Inicio_Sesion">
      {% csrf_token %}
      <h1 class="title">Login </h1>
      
      
      
      <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput"  name="user" placeholder="Kelly" Required>
          <label for="floatingInput">Usuario</label>
      </div>
      <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" name="password"  placeholder="123456" Required>
          <label for="floatingPassword">Contraseña</label>
      </div>
      <div class="form-floating">
          <button type="submit" class="btn btn-outline-light">Ingresar</button>
      </div>
      <div class="form-floating mb-3">
          
          
      </div>
    </form>
    </div>







 
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>